<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test Suite" parallel="tests" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="extentReport.ExtentTestNGITestListener"/>
    </listeners>
    <test name="Graphics Flow Test Suite">
        <classes>
            <class name="testCases.Validate_Art_Approval"/>
        </classes>
    </test>
</suite>
